* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Glori Grotesk";
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html, body {
  min-height: 100%;
  background: #070709;
  isolation: isolate;
  scroll-behavior: smooth;
}

html {
  font-size: 0.5vw;
}
@media (max-width: 1512px) {
  html {
    font-size: 0.9090909091vw;
  }
}
@media (max-width: 1440px) {
  html {
    font-size: 1.0204081633vw;
  }
}
@media (max-width: 1024px) {
  html {
    font-size: 1.25vw;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 1.6666666667vw;
  }
}
@media (max-width: 640px) {
  html {
    font-size: 4vw;
  }
}

.radial_bg_top {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
}

.radial_bg_bot {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: -1;
}

a {
  text-decoration: none;
}

img {
  pointer-events: none;
}

.page_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

header {
  width: 100%;
}

section {
  width: 100%;
  padding: 0 1.5rem;
  position: relative;
}

.container {
  width: 100%;
  max-width: 64rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero_wrapper_s {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5rem 0;
}

.hero_heading {
  font-size: 5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  color: #fff;
  text-align: center;
  margin-bottom: 2rem;
  background: var(--gradient-1, linear-gradient(94deg, rgba(121, 123, 134, 0.8) 0.03%, #FFF 50%, rgba(134, 128, 122, 0.8) 99.97%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero_subheading {
  color: #999;
  text-align: center;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
  letter-spacing: 0.025rem;
  margin-bottom: 3rem;
}

.world_map_bg {
  background: url("../images/world_map.jpg");
  background-position: center;
  background-size: cover;
}

.glow_btn {
  isolation: isolate;
  position: relative;
  overflow: hidden;
}
.glow_btn .cursor_circle {
  position: absolute;
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  background: rgba(156, 241, 0, 0);
  mix-blend-mode: plus-lighter;
  -webkit-filter: blur(2rem);
          filter: blur(2rem);
  z-index: -1;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}
.glow_btn:hover .cursor_circle {
  background: #9CF100;
}

.footer_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 30rem;
  width: 100%;
  margin: 5rem 0;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1.5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  border-radius: 1.5rem;
  background: var(--dark, #070709);
  -webkit-box-shadow: 0rem 0.5rem 1rem -0.25rem rgba(0, 0, 0, 0.24);
          box-shadow: 0rem 0.5rem 1rem -0.25rem rgba(0, 0, 0, 0.24);
  -webkit-backdrop-filter: blur(0.375rem);
          backdrop-filter: blur(0.375rem);
  position: relative;
}
.footer_content::before {
  border-radius: 1.5rem;
  position: absolute;
  pointer-events: none;
  content: "";
  padding: 0.0625rem;
  inset: 0;
  background: var(--border-gradient, linear-gradient(44deg, rgba(255, 255, 255, 0.08) 24.03%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.08) 75.97%));
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.footer_heading {
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  background: var(--gradient-1, linear-gradient(94deg, rgba(121, 123, 134, 0.8) 0.03%, #FFF 50%, rgba(134, 128, 122, 0.8) 99.97%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mail_link {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
  letter-spacing: 0.025rem;
  background: var(--green-gradient-1, radial-gradient(1314.79% 129.21% at 0.93% 14.92%, #9CF100 0%, #00A500 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.primary_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 3rem;
  padding: 0rem 1.25rem;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  gap: 0.5rem;
  position: relative;
  border-radius: 0.75rem;
  background: radial-gradient(67.19% 134.38% at 50% 0%, #9CF100 0%, #00A500 100%);
  -webkit-box-shadow: 0rem -0.25rem 0.75rem 0rem #9CF100 inset;
          box-shadow: 0rem -0.25rem 0.75rem 0rem #9CF100 inset;
  border: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
}
.primary_btn p {
  color: #070709;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.02rem;
  white-space: nowrap;
}
.primary_btn.dark_style {
  background: #000;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.primary_btn.dark_style:before {
  content: none;
}
.primary_btn.dark_style p {
  color: #fff;
}
.primary_btn.max_width {
  width: 100%;
}
.primary_btn:hover {
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}
.primary_btn:active {
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}
.primary_btn:before {
  border-radius: 0.75rem;
  position: absolute;
  pointer-events: none;
  content: "";
  padding: 0.0625rem;
  inset: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#9CF100), to(rgba(156, 241, 0, 0)));
  background: linear-gradient(180deg, #9CF100 0%, rgba(156, 241, 0, 0) 100%);
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

header {
  padding: 1rem;
  position: fixed;
  z-index: 100;
}

.padding_header {
  padding-top: 6.5rem;
}

.header_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 64rem;
  padding: 1rem 1rem 1rem 1.25rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  border-radius: 0.75rem;
  background: rgba(12, 12, 14, 0.88);
  -webkit-box-shadow: 0rem 0.5rem 1rem -0.25rem rgba(0, 0, 0, 0.24);
          box-shadow: 0rem 0.5rem 1rem -0.25rem rgba(0, 0, 0, 0.24);
  -webkit-backdrop-filter: blur(0.375rem);
          backdrop-filter: blur(0.375rem);
  position: relative;
}
.header_wrapper:before {
  border-radius: 0.75rem;
  position: absolute;
  pointer-events: none;
  content: "";
  padding: 0.0625rem;
  inset: 0;
  background: var(--border-gradient, linear-gradient(44deg, rgba(255, 255, 255, 0.08) 24.03%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.08) 75.97%));
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}
nav a {
  color: var(--grey-text, #999);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
  letter-spacing: 0.025rem;
}
nav a:hover {
  color: #fff;
}

.header_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header_logo img {
  height: 2rem;
}

.hero_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 30rem;
  padding: 0.5rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.5rem;
  position: relative;
  border-radius: 1.25rem;
  background: var(--white-2, rgba(255, 255, 255, 0.02));
  -webkit-box-shadow: 0rem 0.5rem 1rem -0.25rem rgba(0, 0, 0, 0.24);
          box-shadow: 0rem 0.5rem 1rem -0.25rem rgba(0, 0, 0, 0.24);
  -webkit-backdrop-filter: blur(0.375rem);
          backdrop-filter: blur(0.375rem);
}
.hero_form:before {
  border-radius: 1.25rem;
  position: absolute;
  pointer-events: none;
  content: "";
  padding: 0.0625rem;
  inset: 0;
  background: var(--border-gradient, linear-gradient(44deg, rgba(255, 255, 255, 0.08) 24.03%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.08) 75.97%));
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.input_wrapper {
  position: relative;
  width: 100%;
}
.input_wrapper input, .input_wrapper textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 3rem;
  padding: 0.75rem 1.25rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  background: var(--white-2, rgba(255, 255, 255, 0.02));
  border-radius: 0.75rem;
  -webkit-box-shadow: 0rem -0.5rem 0.75rem -0.25rem rgba(255, 255, 255, 0.02) inset, 0rem 0.5rem 0.75rem -0.25rem rgba(7, 7, 9, 0.24) inset;
          box-shadow: 0rem -0.5rem 0.75rem -0.25rem rgba(255, 255, 255, 0.02) inset, 0rem 0.5rem 0.75rem -0.25rem rgba(7, 7, 9, 0.24) inset;
  -webkit-backdrop-filter: blur(0.375rem);
          backdrop-filter: blur(0.375rem);
  border: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #fff;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
  letter-spacing: 0.02rem;
}
.input_wrapper input::-webkit-input-placeholder, .input_wrapper textarea::-webkit-input-placeholder {
  color: #999;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
  letter-spacing: 0.01rem;
}
.input_wrapper input::-moz-placeholder, .input_wrapper textarea::-moz-placeholder {
  color: #999;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
  letter-spacing: 0.01rem;
}
.input_wrapper input:-ms-input-placeholder, .input_wrapper textarea:-ms-input-placeholder {
  color: #999;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
  letter-spacing: 0.01rem;
}
.input_wrapper input::-ms-input-placeholder, .input_wrapper textarea::-ms-input-placeholder {
  color: #999;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
  letter-spacing: 0.01rem;
}
.input_wrapper input::placeholder, .input_wrapper textarea::placeholder {
  color: #999;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
  letter-spacing: 0.01rem;
}
.input_wrapper input:focus, .input_wrapper textarea:focus {
  outline: 1px solid #9CF100;
  background: #000;
}
.input_wrapper textarea {
  height: 10rem;
  resize: none;
}
.input_wrapper:before {
  border-radius: 0.75rem;
  position: absolute;
  pointer-events: none;
  content: "";
  padding: 0.0625rem;
  inset: 0;
  z-index: 1;
  background: var(--border-gradient, linear-gradient(44deg, rgba(255, 255, 255, 0.08) 24.03%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.08) 75.97%));
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.free_estimate_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 30rem;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.75rem;
}

.hero_images_wrapper_s {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.hero_images_wrapper_s img {
  width: 100%;
}

.we_are_numbers_wrapper_s {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5rem 0;
  gap: 3rem;
}
.we_are_numbers_wrapper_s h3 {
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  color: #fff;
  text-align: center;
}

.we_are_numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1.5rem;
  width: 100%;
}
@media (max-width: 768px) {
  .we_are_numbers {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@-webkit-keyframes rotate_circle {
  0% {
    -webkit-transform: rotate(0deg) translateY(-7.4rem);
            transform: rotate(0deg) translateY(-7.4rem);
  }
  100% {
    -webkit-transform: rotate(360deg) translateY(-7.4rem);
            transform: rotate(360deg) translateY(-7.4rem);
  }
}

@keyframes rotate_circle {
  0% {
    -webkit-transform: rotate(0deg) translateY(-7.4rem);
            transform: rotate(0deg) translateY(-7.4rem);
  }
  100% {
    -webkit-transform: rotate(360deg) translateY(-7.4rem);
            transform: rotate(360deg) translateY(-7.4rem);
  }
}
@media (max-width: 768px) {
  @-webkit-keyframes rotate_circle {
    0% {
      -webkit-transform: rotate(0deg) translateY(-13.5rem);
              transform: rotate(0deg) translateY(-13.5rem);
    }
    100% {
      -webkit-transform: rotate(360deg) translateY(-13.5rem);
              transform: rotate(360deg) translateY(-13.5rem);
    }
  }
  @keyframes rotate_circle {
    0% {
      -webkit-transform: rotate(0deg) translateY(-13.5rem);
              transform: rotate(0deg) translateY(-13.5rem);
    }
    100% {
      -webkit-transform: rotate(360deg) translateY(-13.5rem);
              transform: rotate(360deg) translateY(-13.5rem);
    }
  }
}
.we_are_number {
  border-radius: 100rem;
  background: var(--white-2, rgba(255, 255, 255, 0.02));
  aspect-ratio: 1/1;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 14.875rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}
@media (max-width: 768px) {
  .we_are_number {
    min-width: 40%;
    height: auto;
  }
}
.we_are_number:nth-child(1)::after {
  -webkit-animation: rotate_circle 8s linear infinite;
          animation: rotate_circle 8s linear infinite;
}
.we_are_number:nth-child(2)::after {
  -webkit-animation: rotate_circle 10s linear infinite;
          animation: rotate_circle 10s linear infinite;
}
.we_are_number:nth-child(3)::after {
  -webkit-animation: rotate_circle 12s linear infinite;
          animation: rotate_circle 12s linear infinite;
}
.we_are_number:nth-child(4)::after {
  -webkit-animation: rotate_circle 14s linear infinite;
          animation: rotate_circle 14s linear infinite;
}
.we_are_number::after {
  content: "";
  width: 0.75rem;
  height: 0.75rem;
  position: absolute;
  border-radius: 100rem;
  background: var(--gradient-1, linear-gradient(94deg, rgba(121, 123, 134, 0.8) 0.03%, #FFF 50%, rgba(134, 128, 122, 0.8) 99.97%));
  -webkit-box-shadow: 0rem 0.25rem 0.25rem 0rem #FFF inset;
          box-shadow: 0rem 0.25rem 0.25rem 0rem #FFF inset;
}
.we_are_number h4 {
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  text-align: center;
  background: var(--gradient-2, linear-gradient(94deg, #FFF 0.03%, rgba(115, 119, 140, 0.6) 99.97%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.we_are_number p {
  color: #999;
  text-align: center;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
  letter-spacing: 0.025rem;
}
.we_are_number:before {
  border-radius: 100rem;
  position: absolute;
  pointer-events: none;
  content: "";
  padding: 0.0625rem;
  inset: 0;
  background: var(--border-gradient, linear-gradient(44deg, rgba(255, 255, 255, 0.08) 24.03%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.08) 75.97%));
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.cases_wrapper_s {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
  margin: 5rem 0;
}
.cases_wrapper_s h2 {
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  background: var(--gradient-2, linear-gradient(94deg, #FFF 0.03%, rgba(115, 119, 140, 0.6) 99.97%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cases_items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.5rem 1fr 1.5rem 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.cases_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-radius: 1.5rem;
  background: var(--white-2, rgba(255, 255, 255, 0.02));
  position: relative;
  overflow: hidden;
}
.cases_item:before {
  border-radius: 1.5rem;
  position: absolute;
  pointer-events: none;
  content: "";
  padding: 1px;
  inset: 0;
  background: var(--border-gradient, linear-gradient(44deg, rgba(255, 255, 255, 0.08) 24.03%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.08) 75.97%));
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.cases_item img {
  width: 100%;
  border-radius: 1.5rem;
  aspect-ratio: 16/10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -o-object-fit: cover;
     object-fit: cover;
  background: #000;
  overflow: hidden;
}

.case_details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}
.case_details h3 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  color: #FFF;
  width: 100%;
}
.case_details p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  color: #999;
}

.category_case {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
.category_case span {
  color: #999;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
  letter-spacing: 0.025rem;
}

.category_case_item {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.025rem;
  background: var(--green-gradient-1, radial-gradient(1314.79% 129.21% at 0.93% 14.92%, #9CF100 0%, #00A500 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.free_estimate_wrapper_s {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  background: var(--white-2, rgba(255, 255, 255, 0.02));
  border-radius: 1.5rem;
  position: relative;
  isolation: isolate;
  overflow: hidden;
}
.free_estimate_wrapper_s h3 {
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  text-align: center;
  background: var(--gradient-2, linear-gradient(94deg, #FFF 0.03%, rgba(115, 119, 140, 0.6) 99.97%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.free_estimate_wrapper_s h3 span {
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  background: radial-gradient(1314.79% 129.21% at 0.93% 14.92%, #9CF100 0%, #00A500 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.free_estimate_wrapper_s:before {
  border-radius: 1.5rem;
  position: absolute;
  pointer-events: none;
  content: "";
  padding: 1px;
  inset: 0;
  background: var(--border-gradient, linear-gradient(44deg, rgba(255, 255, 255, 0.08) 24.03%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.08) 75.97%));
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.free_estimate_btn_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.5rem;
  position: relative;
  border-radius: 1.25rem;
  background: var(--white-2, rgba(255, 255, 255, 0.02));
  -webkit-box-shadow: 0px 8px 16px -4px rgba(0, 0, 0, 0.24);
          box-shadow: 0px 8px 16px -4px rgba(0, 0, 0, 0.24);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}
.free_estimate_btn_wrapper:before {
  border-radius: 1.25rem;
  position: absolute;
  pointer-events: none;
  content: "";
  padding: 1px;
  inset: 0;
  background: var(--border-gradient, linear-gradient(44deg, rgba(255, 255, 255, 0.08) 24.03%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.08) 75.97%));
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.full_cicle_wrapper_s {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  margin: 5rem 0;
}
.full_cicle_wrapper_s h2 {
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  text-align: center;
  background: var(--gradient-2, linear-gradient(94deg, #FFF 0.03%, rgba(115, 119, 140, 0.6) 99.97%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.full_cicle_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.full_cicle_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  border-radius: 1.5rem;
  background: var(--white-2, rgba(255, 255, 255, 0.02));
  position: relative;
}
.full_cicle_item:nth-child(1)::after {
  -webkit-animation: steps_move 2s infinite linear;
          animation: steps_move 2s infinite linear;
}
.full_cicle_item:nth-child(2)::after {
  -webkit-animation: steps_move 4s infinite linear;
          animation: steps_move 4s infinite linear;
}
.full_cicle_item:nth-child(3)::after {
  -webkit-animation: steps_move 6s infinite linear;
          animation: steps_move 6s infinite linear;
}
.full_cicle_item:before {
  border-radius: 1.5rem;
  position: absolute;
  pointer-events: none;
  content: "";
  padding: 1px;
  inset: 0;
  background: var(--border-gradient, linear-gradient(44deg, rgba(255, 255, 255, 0.08) 24.03%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.08) 75.97%));
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.full_cicle_item h3 {
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  background: var(--green-gradient-1, radial-gradient(1314.79% 129.21% at 0.93% 14.92%, #9CF100 0%, #00A500 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1rem;
}
.full_cicle_item p {
  color: #999;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
  letter-spacing: 0.025rem;
}
.full_cicle_item::after {
  content: "";
  left: 2rem;
  top: 2rem;
  right: 0;
  height: 4rem;
  position: absolute;
  border-radius: 100rem 0 0 100rem;
  background: url("../images/steps_move.svg");
  background-size: 4.5rem 4rem;
  -webkit-mask: -webkit-gradient(linear, left top, right top, from(rgb(0, 0, 0)), to(rgba(0, 0, 0, 0)));
  -webkit-mask: linear-gradient(to right, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
          mask: -webkit-gradient(linear, left top, right top, from(rgb(0, 0, 0)), to(rgba(0, 0, 0, 0)));
          mask: linear-gradient(to right, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
}

@-webkit-keyframes steps_move {
  0% {
    background-position: 0 4rem;
  }
  100% {
    background-position: 4.5rem 4rem;
  }
}

@keyframes steps_move {
  0% {
    background-position: 0 4rem;
  }
  100% {
    background-position: 4.5rem 4rem;
  }
}
.full_cicle_step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 4rem;
  height: 4rem;
  padding-bottom: 0.1875rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  border-radius: 6.25rem;
  border: 1px solid #9CF100;
  border-radius: 6.25rem;
  background: var(--green-gradient-1, radial-gradient(1314.79% 129.21% at 0.93% 14.92%, #9CF100 0%, #00A500 100%));
  color: #070709;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
}

.why_choose_us_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
  margin: 5rem 0;
}

.why_choose_us_heading {
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  background: linear-gradient(94deg, rgba(115, 119, 140, 0.6) 0.03%, #FFF 50%, rgba(141, 128, 115, 0.6) 99.97%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.why_choose_us_grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  gap: 1rem;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.move_line {
  width: calc(100% + 3rem);
  height: 5rem;
  -webkit-animation: move_line 8s infinite linear;
          animation: move_line 8s infinite linear;
  background: url("../images/move_line.svg");
  background-size: 66rem 5rem;
  background-position-x: 0;
  margin: 0 -1.5rem;
}

@-webkit-keyframes move_line {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -66rem 0;
  }
}

@keyframes move_line {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -66rem 0;
  }
}
.why_choose_us_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 14.375rem;
  padding: 1.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  border-radius: 1.5rem;
  background: rgba(255, 255, 255, 0.04);
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.why_choose_us_item:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}
.why_choose_us_item:before {
  border-radius: 1.5rem;
  position: absolute;
  pointer-events: none;
  content: "";
  padding: 1px;
  inset: 0;
  background: var(--border-gradient, linear-gradient(44deg, rgba(255, 255, 255, 0.08) 24.03%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.08) 75.97%));
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.why_choose_us_item.highlight {
  background: radial-gradient(67.19% 134.38% at 50% 0%, #9CF100 0%, #00A500 100%);
  -webkit-box-shadow: 0px -4px 12px 0px #9CF100 inset;
          box-shadow: 0px -4px 12px 0px #9CF100 inset;
}
.why_choose_us_item.highlight:before {
  background: -webkit-gradient(linear, left top, left bottom, from(#9CF100), to(rgba(156, 241, 0, 0)));
  background: linear-gradient(180deg, #9CF100 0%, rgba(156, 241, 0, 0) 100%);
}
.why_choose_us_item.highlight p {
  color: #070709;
}
.why_choose_us_item img {
  width: 2.5rem;
  height: 2.5rem;
}
.why_choose_us_item p {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  color: var(--white, #FFF);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
}

.radial_pulse {
  width: 100%;
  position: absolute;
  -webkit-animation: radial_pulse 8s infinite ease-in-out;
          animation: radial_pulse 8s infinite ease-in-out;
  z-index: -1;
}

@-webkit-keyframes radial_pulse {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@keyframes radial_pulse {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}
.free_estimate_form_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3rem;
  margin: 5rem 0;
  width: 100%;
}

.free_estimate_form_heading {
  font-size: 5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  background: linear-gradient(94deg, rgba(115, 119, 140, 0.6) 0.03%, #FFF 50%, rgba(141, 128, 115, 0.6) 99.97%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
.free_estimate_form_heading span {
  background: radial-gradient(67.19% 134.38% at 50% 0%, #9CF100 0%, #00A500 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.experience_items_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  gap: 0.5rem;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  background: var(--white-2, rgba(255, 255, 255, 0.02));
  border-radius: 1.25rem;
}
.experience_items_wrapper:before {
  border-radius: 1.25rem;
  position: absolute;
  pointer-events: none;
  content: "";
  padding: 1px;
  inset: 0;
  background: var(--border-gradient, linear-gradient(44deg, rgba(255, 255, 255, 0.08) 24.03%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.08) 75.97%));
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.experience_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 45%;
  min-height: 20rem;
  padding: 1.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  border-radius: 0.75rem;
  background: var(--white-2, rgba(255, 255, 255, 0.02));
  position: relative;
}
.experience_item:first-child {
  min-width: 90%;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
}
.experience_item h4 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  background: var(--gradient-2, linear-gradient(94deg, #FFF 0.03%, rgba(115, 119, 140, 0.6) 99.97%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.experience_item:before {
  border-radius: 0.75rem;
  position: absolute;
  pointer-events: none;
  content: "";
  padding: 1px;
  inset: 0;
  background: var(--border-gradient, linear-gradient(44deg, rgba(255, 255, 255, 0.08) 24.03%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.08) 75.97%));
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.tag_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 0.5rem;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3.75rem;
  padding: 0rem 1.25rem 0.1875rem 1.25rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  border-radius: 6.25rem;
  background: radial-gradient(1314.79% 129.21% at 0.93% 14.92%, rgba(156, 241, 0, 0.16) 0%, rgba(0, 165, 0, 0.16) 100%);
  -webkit-box-shadow: 0px -4px 12px 0px rgba(156, 241, 0, 0.4) inset;
          box-shadow: 0px -4px 12px 0px rgba(156, 241, 0, 0.4) inset;
  overflow: hidden;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #5EFF00;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  position: relative;
}
.tag.highlight {
  background: var(--green-gradient-1, radial-gradient(1314.79% 129.21% at 0.93% 14.92%, #9CF100 0%, #00A500 100%));
  color: #070709;
}
.tag:before {
  border-radius: 6.25rem;
  position: absolute;
  pointer-events: none;
  content: "";
  padding: 1px;
  inset: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#9CF100), to(rgba(156, 241, 0, 0)));
  background: linear-gradient(180deg, #9CF100 0%, rgba(156, 241, 0, 0) 100%);
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.experience_wrapper_s {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  margin: 5rem 0;
}
.experience_wrapper_s h2 {
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  text-align: center;
  background: var(--gradient-1, linear-gradient(94deg, rgba(121, 123, 134, 0.8) 0.03%, #FFF 50%, rgba(134, 128, 122, 0.8) 99.97%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.consultation_wrapper_s {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5rem;
  border-radius: 1.5rem;
  border: 1px solid #FFF;
  background: linear-gradient(94deg, #FFF 0.03%, #DEE1ED 99.97%);
  margin: 5rem 0;
}

.consultation_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  border-radius: 0.75rem;
  border: 1px solid #FFF;
  background: url("../images/zebra_patern.svg");
  background-size: cover;
  background-position: center;
}
.consultation_content h3 {
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  color: #070709;
  text-align: center;
}
.consultation_content h3 span {
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
}