* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Onest", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
*::-webkit-scrollbar {
  width: 0;
  height: 0;
}

body {
  background: #16151A;
  color: #fff;
}

button {
  border: none;
  cursor: pointer;
}

.linar-btn-medium {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 24px;
  gap: 6px;
  height: 48px;
  background: radial-gradient(100% 318.75% at 99.67% 0%, #1B31F8 0%, #348EF8 48.56%, #621BF8 100%);
  border-radius: 40px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
}

.op-linar-btn-medium {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 24px;
  gap: 6px;
  height: 48px;
  background: radial-gradient(100% 318.75% at 99.67% 0%, rgba(27, 49, 248, 0.16) 0%, rgba(52, 142, 248, 0.16) 48.56%, rgba(98, 27, 248, 0.16) 100%);
  border-radius: 40px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #1B31F8;
}
.op-linar-btn-medium:hover {
  color: #FFFFFF;
  background: radial-gradient(100% 318.75% at 99.67% 0%, #1B31F8 0%, #348EF8 48.56%, #621BF8 100%);
}

.white-btn-tiny {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 16px;
  gap: 6px;
  height: 40px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: #fff;
  border-radius: 40px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #16151A;
}

.section.page1 {
  background: url(img/aboutus-bg.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  padding-top: 104px;
}
.section.page4 {
  background: url(img/team-bg.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
.section.page2 {
  background: #F9F8FC;
  z-index: 10;
}

.container {
  max-width: 1200px;
  padding: 0 24px;
  width: 100%;
  margin: auto;
}

header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  height: 104px;
  z-index: 100;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
header::before {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 1px;
  background: radial-gradient(50% 10568.34% at 50% 100%, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0) 100%);
}
header > .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-logo > .logo {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 135px;
  height: 32px;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background: url(img/white-logo.svg);
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
}
nav > .link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
nav > .link::after {
  content: "";
  position: absolute;
  border-bottom: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 10px;
  opacity: 0;
}

.page-scrol header {
  height: 88px;
  -webkit-backdrop-filter: blur(64px);
          backdrop-filter: blur(64px);
  background: rgba(22, 21, 26, 0.8);
}
.page-scrol header::before {
  background: radial-gradient(50% 10568.34% at 50% 100%, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0) 100%);
}

.wrapper-service-github {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  padding-bottom: 64px;
}

.header-service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px;
  gap: 16px;
  height: 380px;
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(111, 101, 154, 0.0288)), to(rgba(73, 57, 137, 0.16)));
  background: linear-gradient(180deg, rgba(111, 101, 154, 0.0288) 0%, rgba(73, 57, 137, 0.16) 100%);
  border: 1px solid #2D2945;
  -webkit-box-shadow: 0px 16px 64px -8px rgba(22, 21, 26, 0.04), 0px 4px 8px rgba(22, 21, 26, 0.04), inset 0px 0px 24px 8px rgba(45, 41, 69, 0.24);
          box-shadow: 0px 16px 64px -8px rgba(22, 21, 26, 0.04), 0px 4px 8px rgba(22, 21, 26, 0.04), inset 0px 0px 24px 8px rgba(45, 41, 69, 0.24);
  border-radius: 32px 16px 16px 32px;
}
.header-service > .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
}
.header-service > .list a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  white-space: nowrap;
  align-items: center;
  padding: 0px 24px;
  gap: 8px;
  height: 56px;
  background: rgba(255, 255, 255, 0.02);
  border-radius: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
}
.header-service > .list a img {
  width: 24px;
  height: 24px;
  position: relative;
  z-index: 2;
}
.header-service > .list a span {
  position: relative;
  z-index: 2;
  font-family: "Clash Grotesk", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}
.header-service > .list a::after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("img/linear-line-bg.png");
  background-position: center;
  background-size: cover;
  opacity: 0;
  position: absolute;
  z-index: 1;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.header-service > .list a:hover {
  margin: -6px;
  height: 66px;
  padding: 0px 30px;
  border-radius: 16px;
  -webkit-box-shadow: 0px 0px 32px rgba(52, 142, 248, 0.4), 0px 24px 32px -24px rgba(98, 27, 248, 0.64);
          box-shadow: 0px 0px 32px rgba(52, 142, 248, 0.4), 0px 24px 32px -24px rgba(98, 27, 248, 0.64);
}
.header-service > .list a:hover:after {
  opacity: 1 !important;
}

.header-github {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  text-decoration: none;
  height: 380px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(111, 101, 154, 0.0288)), to(rgba(73, 57, 137, 0.16)));
  background: linear-gradient(180deg, rgba(111, 101, 154, 0.0288) 0%, rgba(73, 57, 137, 0.16) 100%);
  border: 1px solid #2D2945;
  -webkit-box-shadow: 0px 16px 64px -8px rgba(22, 21, 26, 0.04), 0px 4px 8px rgba(22, 21, 26, 0.04), inset 0px 0px 24px 8px rgba(45, 41, 69, 0.24);
          box-shadow: 0px 16px 64px -8px rgba(22, 21, 26, 0.04), 0px 4px 8px rgba(22, 21, 26, 0.04), inset 0px 0px 24px 8px rgba(45, 41, 69, 0.24);
  border-radius: 16px 32px 32px 16px;
  overflow: hidden;
  position: relative;
}
.header-github > .details {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-github > .details > .title {
  font-family: "Clash Grotesk", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
}
.header-github > img {
  top: 0;
  left: 0;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  pointer-events: none;
  height: 100%;
}

.header-pageone-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  background: url(img/particulars.svg);
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 64px 0;
}
.header-pageone-info > h1 {
  font-family: "Clash Grotesk", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 96px;
  line-height: 120%;
  text-align: center;
  color: #FFFFFF;
}
.header-pageone-info > p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}

.header-pagetwo-info {
  margin-top: 88px;
  padding: 64px 0;
}
.header-pagetwo-info > h2 {
  font-family: "Clash Grotesk", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 120%;
  text-align: center;
  color: #16151A;
}

.roadmap-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  margin-bottom: 64px;
}
.roadmap-items > .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}
.roadmap-items > .item:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.roadmap-items > .item::after {
  content: "";
  width: calc(50% - 110px);
}
.roadmap-items > .item:last-child > .center::before {
  content: none;
}
.roadmap-items > .item > .center {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 172px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.roadmap-items > .item > .center::before {
  content: "";
  background: #E7E6EA;
  width: 4px;
  position: absolute;
  height: calc(100% + 40px);
}
.roadmap-items > .item > .center > .point {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 20px;
  gap: 6px;
  width: 80px;
  height: 80px;
  -webkit-box-shadow: 0 0 0 8px #F9F8FC;
          box-shadow: 0 0 0 8px #F9F8FC;
  border-radius: 8200px;
  background: #E7E6EA;
  font-family: "Clash Grotesk", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 36px;
  text-align: right;
  color: #FFFFFF;
  text-transform: uppercase;
}
.roadmap-items > .item > .center.color > .point {
  background: radial-gradient(100% 100% at 99.67% 0%, #1B31F8 0%, #348EF8 48.56%, #621BF8 100%);
}
.roadmap-items > .item > .center.color::before {
  background: #0276FF;
}
.roadmap-items > .item > .info {
  width: calc(50% - 110px);
  background: #F9F8FC;
  border: 2px solid #FFFFFF;
  -webkit-box-shadow: 0px 16px 64px -8px rgba(22, 21, 26, 0.04), 0px 4px 8px rgba(22, 21, 26, 0.04), inset 0px 0px 24px 8px rgba(255, 255, 255, 0.8);
          box-shadow: 0px 16px 64px -8px rgba(22, 21, 26, 0.04), 0px 4px 8px rgba(22, 21, 26, 0.04), inset 0px 0px 24px 8px rgba(255, 255, 255, 0.8);
  border-radius: 16px;
  padding: 24px;
}
.roadmap-items > .item > .info span {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #16151A;
}
.roadmap-items > .item > .info h3 {
  font-family: "Clash Grotesk", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  margin: 8px 0 24px;
  color: #16151A;
}
.roadmap-items > .item > .info p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #16151A;
}

.header-pagethree-info {
  margin-top: 88px;
  padding: 64px 0;
}
.header-pagethree-info > h2 {
  font-family: "Clash Grotesk", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 120%;
  text-align: center;
  color: #ffffff;
}

.cases-items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 24px;
  padding-bottom: 64px;
}
.cases-items > .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.cases-items > .item:hover > .picture {
  border: 1px solid #FFFFFF;
}
.cases-items > .item:hover > .picture > .details {
  opacity: 1;
}
.cases-items > .item:hover > .picture > .details > p {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.cases-items > .item:hover > .picture > img {
  opacity: 0.16;
}
.cases-items > .item > .picture {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  overflow: hidden;
  height: 200px;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0);
  cursor: pointer;
}
.cases-items > .item > .picture > .details {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
  z-index: 10;
  overflow: hidden;
}
.cases-items > .item > .picture > .details > p {
  font-family: "Clash Grotesk", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
.cases-items > .item > .picture > img {
  border-radius: 16px;
  z-index: 1;
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.cases-items > .item > h3 {
  margin: 16px 0 8px;
  font-family: "Clash Grotesk", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;
}
.cases-items > .item > p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.4);
}

.header-pagefour-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 24px 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 88px;
  padding: 64px 0;
}
.header-pagefour-info h2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: "Clash Grotesk", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 120%;
  color: #FFFFFF;
}
.header-pagefour-info > .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
.header-pagefour-info > .details p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: rgba(255, 255, 255, 0.8);
}

.team-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 24px;
  padding-bottom: 64px;
}
.team-items > .item > .pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 220px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(111, 101, 154, 0.0288)), to(rgba(73, 57, 137, 0.16)));
  background: linear-gradient(180deg, rgba(111, 101, 154, 0.0288) 0%, rgba(73, 57, 137, 0.16) 100%);
  border: 1px solid #2D2945;
  -webkit-box-shadow: 0px 16px 64px -8px rgba(22, 21, 26, 0.04), 0px 4px 8px rgba(22, 21, 26, 0.04), inset 0px 0px 24px 8px rgba(45, 41, 69, 0.24);
          box-shadow: 0px 16px 64px -8px rgba(22, 21, 26, 0.04), 0px 4px 8px rgba(22, 21, 26, 0.04), inset 0px 0px 24px 8px rgba(45, 41, 69, 0.24);
  -webkit-backdrop-filter: blur(64px);
          backdrop-filter: blur(64px);
  border-radius: 32px;
}
.team-items > .item > .pictures img {
  width: 60%;
  height: 60%;
  -o-object-fit: contain;
     object-fit: contain;
}
.team-items > .item > h4 {
  font-family: "Clash Grotesk", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;
  margin: 16px 0 8px;
}
.team-items > .item > p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.8);
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80px;
  gap: 24px;
  background: #F9F8FC;
}
footer p {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: rgba(22, 21, 26, 0.8);
}
footer .link {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #348EF8;
  text-decoration: none;
}
footer .link:hover {
  text-decoration: underline;
}

.page-jobs {
  margin-top: 104px;
  background: #F9F8FC;
}

.header-pagejobs-info {
  padding: 64px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  gap: 8px;
}
.header-pagejobs-info > h2 {
  font-family: "Clash Grotesk", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 120%;
  text-align: center;
  color: #16151A;
}
.header-pagejobs-info > p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: rgba(22, 21, 26, 0.8);
}

.jobs-items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 24px;
  padding-bottom: 64px;
}
.jobs-items > .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F9F8FC;
  border: 2px solid #FFFFFF;
  -webkit-box-shadow: 0px 16px 64px -8px rgba(22, 21, 26, 0.04), 0px 4px 8px rgba(22, 21, 26, 0.04), inset 0px 0px 24px 8px rgba(255, 255, 255, 0.8);
          box-shadow: 0px 16px 64px -8px rgba(22, 21, 26, 0.04), 0px 4px 8px rgba(22, 21, 26, 0.04), inset 0px 0px 24px 8px rgba(255, 255, 255, 0.8);
  border-radius: 16px;
}
.jobs-items > .item > .header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  padding: 24px 24px 16px;
}
.jobs-items > .item > .header > h3 {
  font-family: "Clash Grotesk", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #16151A;
}
.jobs-items > .item > .header > .company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.jobs-items > .item > .header > .company img {
  width: 24px;
  height: 24px;
}
.jobs-items > .item > .header > .company p {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #16151A;
}
.jobs-items > .item > .content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 24px;
  gap: 16px;
  background: url("img/linear-bg.svg") #F9F8FC;
  background-position: center;
  -webkit-box-shadow: inset 0px 0px 24px 8px #F9F8FC;
          box-shadow: inset 0px 0px 24px 8px #F9F8FC;
}
.jobs-items > .item > .content > .detail-list {
  display: -ms-grid;
  display: grid;
  gap: 16px;
  -ms-grid-columns: 1fr 16px 1fr;
  grid-template-columns: 1fr 1fr;
}
.jobs-items > .item > .content > .detail-list p:first-child {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: rgba(22, 21, 26, 0.4);
}
.jobs-items > .item > .content > .detail-list p:last-child {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #16151A;
}
.jobs-items > .item > .op-linar-btn-medium {
  width: calc(100% - 48px);
  margin: 16px 24px 24px 24px;
}

@media screen and (max-width: 1024px) {
  .fp-viewing-page1 header {
    background: rgba(57, 39, 149, 0.2);
    -webkit-backdrop-filter: blur(64px);
            backdrop-filter: blur(64px);
  }

  header > .container {
    gap: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  header > .container > .header-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 50% !important;
    width: 50%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  header > .container > .right-action {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 50% !important;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 50%;
  }

  .header-logo > .logo {
    width: 104px;
    height: 34px;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
  }

  .linar-btn-medium {
    height: 34px;
    font-size: 12px;
    padding: 0 16px 0 8px;
  }
  .linar-btn-medium > img {
    width: 16px;
    height: 16px;
  }

  nav {
    height: 50%;
    width: 100%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav > .link {
    font-size: 12px;
    line-height: 20px;
  }

  .header-pageone-info > h1 {
    font-size: 32px;
  }
  .header-pageone-info > p {
    font-size: 12px;
    line-height: 20px;
  }

  .header-pageone-info {
    padding: 32px 0;
  }

  .wrapper-service-github {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 8px;
    padding-bottom: 32px;
  }

  .header-github {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    height: 220px;
    border-radius: 24px;
  }

  .header-service {
    border-radius: 24px;
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }

  .header-pagetwo-info, .header-pagethree-info {
    padding: 32px 0;
  }
  .header-pagetwo-info > h2, .header-pagethree-info > h2 {
    font-size: 32px;
  }

  .roadmap-items {
    margin-bottom: 32px;
  }
  .roadmap-items > .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    gap: 8px;
  }
  .roadmap-items > .item > .info {
    padding: 24px;
    width: 100%;
  }
  .roadmap-items > .item > .info span {
    font-size: 12px;
    line-height: 20px;
  }
  .roadmap-items > .item > .info h3 {
    font-size: 16px;
    line-height: 22px;
    margin: 8px 0 0 0;
  }
  .roadmap-items > .item::after {
    display: none;
  }
  .roadmap-items > .item > .center {
    width: 48px;
  }
  .roadmap-items > .item > .center > .point {
    width: 48px;
    height: 48px;
    font-size: 14px;
  }

  .cases-items {
    padding-bottom: 32px;
  }
  .cases-items > .item > .picture {
    border: 1px solid rgba(255, 255, 255, 0.1882352941);
  }
  .cases-items > .item > .picture > .details {
    opacity: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 24px;
    right: 0;
    bottom: 0;
    position: absolute;
  }
  .cases-items > .item > .picture > .details > p {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    font-size: 16px;
  }
  .cases-items > .item > .picture > img {
    opacity: 0.72;
  }
  .cases-items > .item > h3 {
    font-size: 16px;
    line-height: 22px;
  }
  .cases-items > .item > p {
    font-size: 12px;
    line-height: 20px;
  }

  .header-pagefour-info {
    padding: 32px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 8px;
  }
  .header-pagefour-info > .details {
    gap: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-pagefour-info > .details p {
    font-size: 12px;
    line-height: 20px;
  }
  .header-pagefour-info h2 {
    font-size: 32px;
    width: 100%;
  }
  .header-pagefour-info h2 br {
    display: none;
  }

  .team-items {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 32px;
  }
  .team-items > .item > .pictures {
    height: 140px;
    border-radius: 24px;
  }
  .team-items > .item > h4 {
    font-size: 16px;
    line-height: 22px;
    margin: 16px 0 4px;
  }
  .team-items > .item > p {
    font-size: 12px;
    line-height: 20px;
  }

  .header-pagejobs-info {
    padding: 32px 0;
    gap: 8px;
    margin-top: 88px;
  }
  .header-pagejobs-info > h2 {
    font-size: 32px;
  }
  .header-pagejobs-info > p {
    font-size: 12px;
    line-height: 20px;
  }

  .jobs-items {
    padding-bottom: 32px;
  }
  .jobs-items > .item > .header > h3 {
    font-size: 16px;
    line-height: 22px;
  }
  .jobs-items > .item > .content > .detail-list p:first-child {
    font-size: 12px;
    line-height: 20px;
  }
  .jobs-items > .item > .content > .detail-list p:last-child {
    font-size: 12px;
    line-height: 20px;
  }
}
